*{
    box-sizing: border-box;




}
body{
    background-color: beige;


}

nav{
    height: 100px;
    border-width: 100px;
}
header{
    width: 850px;
    height: 230px;
    background-color: yellowgreen;
    margin: auto;
    font-style: italic;
    border-color: turquoise;
    border-style: dotted;
    






}
.profile_name{
    font-size: 12px;
    position: relative;
    top: 125px;
    left: 120px;
    font-family: Arial, Helvetica, sans-serif;

}
.profile_info{
    position: relative;
    top: 90px;
    left: 200px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: 2px;

}



.profile_message{
    position: relative;
    top:  65px;
    left: 650px;
    font-style: italic;


}
.profile_image{
    position: relative;
    top:  -40px;
    left:  15px;
    width: 95px;
    height: 100px;

    border: 5px solid teal;




}
.column-left{
    float: left;
    width: 328px;
    border: 3px   solid turquoise;
    height: 100%;
    border-style: solid dotted;
    background-color: turquoise; 
    flex-direction: column;
}

    
.row{
height: 1000px;
width: 850px;
margin: auto;
flex: content auto;

}


    
   

.column-right{
    float: right;
    width: 502px;
    border: 3px solid turquoise;
    height: 100%;
    background-color: turquoise; 

    
}